<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link href="http://gmpg.org/xfn/11" rel="profile">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- Enable responsiveness on mobile devices-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

        <title>{% block title %}Welcome!{% endblock %} - {{ site.owner }}</title>

        <!-- CSS -->
        {% stylesheets
            'css/resets.css'
            'css/main.css'
            filter='cssrewrite' output='css/compiled/app.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Walter+Turncoat">

        <!-- Icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('apple-icon-precomposed.png') }}">
        <link rel="shortcut icon" href="{{ asset('favicon-32x32.png') }}">
    </head>
    <body>
        <div class="header">
            <div class="flags">
                <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale':'en'})) }}">
                    <img src="{{ asset('images/english.png') }}" width="30" height="20" /> <span>English</span>
                </a>
                <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale':'kr'})) }}">
                    <img src="{{ asset('images/korean.png') }}" width="30" height="20" /> <span>Korean</span>
                </a>
            </div>
            <div class="container">
                <div class="header-about">
                    <img src="/images/logo.jpg" width="" height="" />
                    <h1>
                        <a href="{{ path('homepage') }}">
                            {{ site.title }}
                        </a>
                    </h1>
                    <p>{{ site.description }}</p>
                </div>

                <nav class="header-nav social">
                    <ul>
                        {% for page in ['homepage', 'classes', 'weddings', 'signature', 'about'] %}
                            <li class="navbar-item {{ current_page == page ? 'current' : '' }}">
                                {% if page == 'homepage' %}
                                    {% set url = path('homepage') %}
                                {% else %}
                                    {% set url = path('show', { 'page':page }) %}
                                {% endif %}
                                <a href="{{ url }}">{{ page|capitalize }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
        <div class="main-wrapper">
            <div class="content container">
                {% block body %}{% endblock %}
            </div>
        </div>
        {% include '_includes/footer.html.twig' %}
    </body>
</html>
