{% extends 'base.html.twig' %}

{% block title %}{{ 'about.title'|trans }}{% enblock %}

{% block body %}
    <h1>{{ 'about.title'|trans }}</h1>
    <p>{{ 'about.content1'|trans }}</p>
    <p>{{ 'about.content2'|trans }}</p>
    <p>{{ 'about.content3'|trans }}</p>
    <p>{{ 'about.content4'|trans }}</p>
    <p>{{ 'about.content5'|trans }}</p>
    {% include '_includes/iterative_gallery.html.twig' with { 'path': 'gallery/about', 'name': 'about', 'ext': 'jpg', 'length': 6 } %}
{% endblock %}
