{% extends 'base.html.twig' %}

{% block title %}{{ 'classes.title'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ "classes.title"|trans }}</h1>
        <h3>{{ "classes.subtitle1"|trans }}</h3>
        <p>
            {{ "classes.content1"|trans|raw }}
        </p>
        <h3>{{ "classes.subtitle2"|trans }}</h3>
        <p>
            {{ "classes.content2"|trans|raw }}
        </p>
        <h3>{{ "classes.subtitle3"|trans }}</h3>
        <p>
            {{ "classes.content3"|trans|raw }}
        </p>
        <h3>{{ "classes.subtitle4"|trans }}</h3>
        <p>
            {{ "classes.content4"|trans|raw }}
        </p>
        <h3>{{ "classes.subtitle5"|trans }}</h3>
        <p>
            {{ "classes.content5"|trans|raw }}
        </p>

        <blockquote class="blockquote bg-light">
            <p>
                <img class="flag" src="{{ asset('images/korean.png') | imagine_filter('flag') }}" width="30" height="20" />
                벤자민 선생님의 스타일은 남프랑스 프로방스에서 불어오는  바람을 느끼게끔 해주었답니다 !
            </p>
            <p>
                <img class="flag" src="{{ asset('images/english.png') | imagine_filter('flag') }}" width="30" height="20" />
                His style of arrangements sends us a wind from the province in the southern France!
            </p>
            <p>
                <img class="flag" src="{{ asset('images/french.png') | imagine_filter('flag') }}" width="30" height="20" />
                Son style d'arrangement floral nous a amené un vent de Provence !
            </p>
            <footer class="blockquote-footer">Izumi Matsuo, <cite>Japan</cite></footer>
        </blockquote>
        <blockquote class="blockquote bg-light">
            <p>
                <img class="flag" src="{{ asset('images/korean.png') | imagine_filter('flag') }}" width="30" height="20" />
                벤자민 선생님은 학생들에게 어떻게 작품을 만들면 좋을지 알려주기보다는 꽃을 많이 만져보고 항상 자유롭게 만들어보라고 하셨어요. 다른 선생님들은 작품을 만드는 것을 보여주신 후에 똑같거나 유사하게 만들도록 가르쳐주셔서 항상 숙제하는 기분이었는데 벤자민 선생님은 진정으로 꽃을 사랑하고 꽃꽂이를 즐길수 있도록 이끌어주셨어요. 그리고 벤자민 선생님의 작들품은 모두 정형화되지 않은 자연스러운 아름다움을 담은 작품들로, 매번 창의적인 아이디어로 새로운 작품을 만들어내시는 걸 보며 매번 감탄하고 있답니다
            </p>
            <p>
                <img class="flag" src="{{ asset('images/english.png') | imagine_filter('flag') }}" width="30" height="20" />
                Mr Benjamin teached students to enjoy flowers and make it free at all times, rather than telling to reproduce his work. Other teachers taught me to make the same or similar after showing me how to make a work, so I always feel like doing homework. Teacher Benjamin really led me to love flowers and enjoy flower arrangements. And Benjamin's works are full of natural beauty, with always creative ideas.
            </p>
            <p>
                <img class="flag" src="{{ asset('images/french.png') | imagine_filter('flag') }}" width="30" height="20" />
                Benjamin nous a enseigné son style en nous laissant libre de nous exprimer au lieu de nous dire de reproduire une composition florale à réaliser. Les autres enseignants m'ont appris à faire la même chose après avoir réalisé la composition florale. Benjamin m'a vraiment appris à apprécier les fleurs et l'arrangement floral. Et ses compositions sont naturelles, belles et toujours créatives.
            </p>
            <footer class="blockquote-footer">Juyean Lee, <cite>Korea</cite></footer>
        </blockquote>
        <blockquote class="blockquote bg-light">
            <p>
                <img class="flag" src="{{ asset('images/korean.png') | imagine_filter('flag') }}" width="30" height="20" />
                벤자민 선생님의 수업을 서울에서 들었어요.<br/>
                편안한 분위기에서 저의 첫 플라워 클래스를 즐길 수 있었습니다.
            </p>
            <p>
                <img class="flag" src="{{ asset('images/english.png') | imagine_filter('flag') }}" width="30" height="20" />
                I was able to enjoy my first flower class in a relaxed atmosphere.
            </p>
            <p>
                <img class="flag" src="{{ asset('images/french.png') | imagine_filter('flag') }}" width="30" height="20" />
                J'ai pu apprécier mon premier cours d'art floral dans une bonne ambiance.
            </p>
            <footer class="blockquote-footer">Jihye Park, <cite>Korea</cite></footer>
        </blockquote>
        <blockquote class="blockquote bg-light">
            <p>
                <img class="flag" src="{{ asset('images/korean.png') | imagine_filter('flag') }}" width="30" height="20" />
                저의 실력을 향상시키고 싶어 선생님의 수업을 듣게 되었어요.  테크닉과 꽃꽂이에 대해 많은 걸 배울 수 있었습니다. 선생님께서 수업시간동안 유익한 팁을 많이 알려주셨어요.
            </p>
            <p>
                <img class="flag" src="{{ asset('images/english.png') | imagine_filter('flag') }}" width="30" height="20" />
                I wanted to improve my skills. I learned a lot about techniques and flower arrangements. Benjamin gave me lots of helpful tips during the class.
            </p>
            <p>
                <img class="flag" src="{{ asset('images/french.png') | imagine_filter('flag') }}" width="30" height="20" />
                Je voulais améliorer ma technique, j'ai appris beaucoup de choses. Benjamin m'a donné beaucoup de conseils tout au long du cours.
            </p>
            <footer class="blockquote-footer">Camille Ferrer, <cite>France</cite></footer>
        </blockquote>
        <blockquote class="blockquote bg-light">
            <p>
                <img class="flag" src="{{ asset('images/korean.png') | imagine_filter('flag') }}" width="30" height="20" />
                벤자민 선생님께 핸드타이 부케를 배웠어요.<br/>
                프렌치 스타일의 아름다운 부케를 만들 수 있어서 정말 좋았답니다.
            </p>
            <p>
                <img class="flag" src="{{ asset('images/english.png') | imagine_filter('flag') }}" width="30" height="20" />
                I learned a handtied bouquet from Benjamin.<br/>
                It was really nice to be able to make a beautiful bouquet of French style.
            </p>
            <p>
                <img class="flag" src="{{ asset('images/french.png') | imagine_filter('flag') }}" width="30" height="20" />
                J'ai appris à faire un bouquet et c’était super de réaliser un très beau bouquet de style français.
            </p>
            <footer class="blockquote-footer">Ayako Kawano, <cite>Japan</cite></footer>
        </blockquote>

        {% include '_includes/iterative_gallery.html.twig' with { 'path': 'gallery/classes', 'name': 'classes', 'ext': 'jpg', 'end': 15 } %}
    </div>
{% endblock %}
