{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'signature.title'|trans }}</h1>
    {{ 'signature.content'|trans|raw }}
    <h3>{{ 'signature.subtitle1'|trans }}</h3>
    <h3>{{ 'signature.subtitle2'|trans }}</h3>
    <h3>{{ 'signature.subtitle3'|trans }}</h3>
{% endblock %}
