<div class="footer">
    <div class="content container">
        <div class="footer-social">
            <h3>{{ 'footer.social'|trans }}</h3>
            <ul>
                <li class="footer-item">
                    <a href="http://blog.naver.com/benjaminjouet" target="_blank" title="{{ 'footer.social_link'|trans({'%social%':'Naver'}) }}">
                        Blog Naver
                    </a>
                </li>
                {% for link in site.social %}
                    <li class="footer-item">
                        <a href="{{ link.link }}" target="_blank" title="{{ 'footer.social_link'|trans({'%social%':link.name}) }}">
                            <i class="fa fa-2x {{ link.icon }}"></i>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="footer-contact">
            <h3>{{ 'footer.contact'|trans }}</h3>
            <p>Email: <a href="mailto:{{ site.mail }}">{{ site.mail }}</a></p>
            <p>Kakao / Line ID: {{ site.kakao }}</p>
        </div>
        <br class="clear" />
        <span class="footer-item">
            &copy; {{ "now"|date("Y") }} {{ site.owner }}
        </span>
    </div>
</div>